---
import type { HeadingHierarchy } from "@/types/index";
import type { MarkdownHeading } from "astro";
import { createHeadingHierarchy } from "@lib/tocUtils";


interface Props {
  headings: MarkdownHeading[];
  tocDepth?: number;
  ShowTitle:boolean
}

const { ShowTitle ,headings, tocDepth = 3 } = Astro.props;
const heirarchy: HeadingHierarchy[] = createHeadingHierarchy(headings);
const toc = heirarchy.filter((heading) => heading.depth <= tocDepth);
---

{
  toc.length > 0 && (
    <div class={`animate-none lg:animate-bounce relative glass rounded-lg  w-full intersect:animate-fadeLeft opacity-0 p-4`}>
        {ShowTitle && <h2 class="text-xl xl:text-2xl border-none text-text-8">ON THIS PAGE</h2>}
        <ul class="list-none m-0">
          {toc.map((heading) => (
            <li class=`${heading.depth === 2 ? "ml-0 text-sm xl:text-lg" : "ml-2 md:ml-4 text-sm xl:text-lg"}`>
              <a href={`#${heading.slug}`} class=" w-full leading-none no-underline">
                {heading.text}
              </a>
            </li>
          ))}
        </ul>
    </div>
  )
}
