---
import LandingCard from "./LandingCard.astro";
import repoCardImage from "@assets/repoCard.svg";
import autoUpdateGif from "@assets/autoUpdateGif.gif";
import autoUpdateImage from "@assets/autoUpdateImg.png";
import fastDeployImage from "@assets/fastDeployCar.gif";
---
<div class="container flex flex-wrap font-dela text-text-6 justify-around  2xl:justify-between">
    <div class="md:mb-0 p-4 md:p-0">
        <LandingCard
        title="select a repo"
        num={1}
        description="Choose from all your repos"
        image={repoCardImage}
        />
    </div>
    <div class="p-4 sm:p-0">
        <LandingCard
        title="fast deploy"
        num={2}
        description="Launch Fast. Grow Faster"
        image={fastDeployImage}
        />
    </div>
    <div class=" lg:mt-6 xl:mt-16 2xl:mt-0 p-4 lg:p-0">
        <LandingCard
        title="Auto update"
        num={3}
        description="Stay Current. Automatically"
        image={autoUpdateImage}
        animatedImg={autoUpdateGif}
        />
    </div>
</div>
